@inject NavigationManager NavigationManager;
@inject ILocalStorageService LocalStorageService;
@inject WebApiRestClient WebApiClient
@inject DialogHandler DialogHandler
@inject IConfiguration Configuration
@inject IExtendedNavigationManager ExtNavigationManager
@inject ISessionStorage SessionStorage

<MudNavMenu Bordered Class="flex-column mt-5" Color="MudBlazor.Color.Info">
     <MudNavLink Icon="@Icons.Material.Filled.Home" IconColor="MudBlazor.Color.Info" Href="@RouteConst.Routes.Home">
         Home
     </MudNavLink>
     <CascadingAuthenticationState>
         <AuthorizeView Policy="Admin">
             @if (hasLogin)
            {
                <MudNavGroup Expanded Icon="@Icons.Material.Filled.AdminPanelSettings" IconColor="MudBlazor.Color.Info" Title="Administration">

                     <MudNavLink Icon="@Icons.Material.Filled.Dashboard" IconColor="MudBlazor.Color.Info" Href="@RouteConst.Routes.DashBoard">
                         <a>Dashboard</a>
                     </MudNavLink>
                     <MudNavLink Icon="@Icons.Material.Filled.HealthAndSafety" IconColor="MudBlazor.Color.Info" Href="@RouteConst.Routes.BackendHealth">
                         <a>Health</a>
                     </MudNavLink>
                     <MudNavLink Icon="@Icons.Material.Filled.People" IconColor="MudBlazor.Color.Info" Href="@RouteConst.Routes.Users">
                         <a>Users</a>
                     </MudNavLink>
                 </MudNavGroup>
            }
         </AuthorizeView>
     </CascadingAuthenticationState>

        
    @if (!hasLogin)
    {
        <MudNavLink Href="@RouteConst.Routes.SignIn">
            <a>SignIn</a>
        </MudNavLink>
    }
    else
    {
        <MudButton Class="mt-5 fixed-bottom" Variant="Variant.Filled" FullWidth DisableElevation="true" Color="MudBlazor.Color.Primary" OnClick="@ClickLogout">Logout</MudButton>
    }
</MudNavMenu>

@code {
    private bool hasLogin = false;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private CancellationTokenSource cancellationToken = new();

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {

            hasLogin = await LocalStorageService.CheckIfValidTokenExists();
            StateHasChanged();
        }
    }
    public async Task ClickLogout()
    {
        await DialogHandler.ShowLogoutDialog(cancellationToken.Token);
    }
}
